*{
  box-sizing:border-box;
}
body{
    width: 100%;
    background-image: url(img/aboutme.jpg);
    background-size:cover;
    margin: 0;
}
.header{
    background-color:black;
    height: 40px;
}
.logo{
    float: right;
    color:silver;
    font-size: 30px;
    margin: 0px 10px;
}
.logo_job{
    float: right;
    color:silver;
    font-size: 14px;
    margin-top: 18px;
    font-style: oblique;
    }
.header a{
    text-decoration: none;
    color:whitesmoke;
}
.header li{
    list-style: none;
    float: left;
        padding:10px;
    color:whitesmoke;
    font-size: 17px;
}
.aboutme{
    text-align: center;
}
.aboutme h1{
    color: silver;
    text-shadow: 1px 1px 0px black;
}
.aboutme p{
    font-size: 20px;
    letter-spacing:5px;
    line-height: 50px;
    color:silver;
    text-shadow: 1px 1px 0px black;
}

.footer p{
    height: 20px;
    background-color: black;
    text-align: center;
    font-size: 15px;
    color:silver;
}
.lang ul{
        margin-right: 10px;
    }
.lang li{
    float: right;
    list-style: none;
    color:silver;
    text-shadow: 1px 1px 0px black;
    font-size: 25px;
}
.lang a{
    text-decoration: none;
    color:silver;
    text-shadow: 1px 1px 0px black;
}
.lang span{
    margin-right: 10px;
}
@media (max-width:1024px) {
     .header{
    height: 29px;
    }
    .logo{
        font-size: 29px;
        margin-top: -6px;
    }
    .logo_job{
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:15px;
        padding:4px 7px 0px 0px;
    }
}
@media (max-width:896px) {
        .header{
    height: 29px;
    }
    .logo{
        font-size: 29px;
        margin-top: -6px;
    }
    .logo_job{
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:15px;
        padding:4px 7px 0px 0px;
    }
    .aboutme p{
            font-size: 18px;
            line-height: 50px;
        }
        }
    @media (max-width:736px) {
        .header{
    height: 29px;
    }
    .logo{
        font-size: 27px;
        margin-top: -6px;
    }
    .logo_job{
        font-size: 13px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:15px;
        padding:4px 7px 0px 0px;
    }
        .aboutme p{
            font-size: 17px;
            line-height: 45px;
            letter-spacing: 3px;
        }
        }
        
    @media (max-width:667px) { 
        .header{
    height: 29px;
    }
    .logo{
        font-size: 22px;
        margin-top: 1px;
    }
    .logo_job{
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:14px;
        padding:6px 7px 0px 0px;
    }
        .aboutme p{
            font-size: 15px;
            line-height: 40px;
        }
.lang li{
    font-size: 16px;
}
        }
        
    @media (max-width:568px) {
        .header{
    height: 20px;
    }
    .logo{
        font-size: 19px;
        margin-top: -4px;
    }
    .logo_job{
        font-size: 11px;
        margin-top: 5px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:12px;
        padding:2px 7px 0px 0px;
        }
        .aboutme p{
            font-size: 13px;
            line-height: 35px;
        }
.lang li{
    font-size: 15px;
}
}
    
    @media (max-width:480px) {
    .header{
    height: 17px;
    }
     .logo{
        font-size: 13px;
        padding: 0;
        margin: 2px 0 0 0;
    }
    .logo_job{
        font-size: 5px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size: 10px;
        padding:3px 4px 0px 0px;
    }
        .aboutme p{
            font-size: 13px;
            line-height: 30px;
        }
      .lang{
		margin-bottom:30px;
	}
.lang li{
    font-size: 13px;
}
    .lang span{
        font-size: 10px;
    }
}
