*{
  box-sizing:border-box;
}
body{
    margin: 0;
}
.header{
    background-color:black;
    height: 40px;
}
.logo{
    float: right;
    color:silver;
    font-size: 30px;
    margin: 0px 10px;
}
.logo_job{
    float: right;
    color:silver;
    font-size: 14px;
    margin-top: 18px;
    font-style: oblique;
    }
.header a{
    text-decoration: none;
    color:whitesmoke;
}
.header li{
    list-style: none;
    float: left;
        padding:10px;
    color:whitesmoke;
    font-size: 17px;
}
.mail{
    color: gray;
    margin: 0;
}
.mail p{
    font-size: 30px;
    margin: 0;
}
.shop{
    color: gray;
}
.shop img{
    width: 100%;
}
.insta{
    color: gray;
}
.insta img{
    width: 100%;
}
.footer p{
    height: 20px;
    background-color: black;
    text-align: center;
    font-size: 15px;
    color:silver;
}
.lang ul{
        margin-right: 10px;
    }
.lang li{
    float: right;
    list-style: none;
    color:silver;
    text-shadow: 1px 1px 0px black;
    font-size: 25px;
}
.lang a{
    text-decoration: none;
    color:silver;
    text-shadow: 1px 1px 0px black;
}
.lang span{
    margin-right: 10px;
}
@media (max-width:1024px) {
    boby{
        width: 100%;
    }
     .header{
    height: 29px;
    }
    .logo{
        font-size: 29px;
        margin-top: -6px;
    }
    .logo_job{
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:15px;
        padding:4px 7px 0px 0px;
    }
    .mail h1,.shop h1,.insta h1{
            font-size: 30px
        }
        .mail p{
            font-size: 30px;
        }
}
@media (max-width:896px) {
  body{
    width:100%;
  } 
        .header{
    height: 29px;
    }
    .logo{
        font-size: 29px;
        margin-top: -6px;
    }
    .logo_job{
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:15px;
        padding:4px 7px 0px 0px;
    }
    .mail h1,.shop h1,.insta h1{
            font-size: 24px
        }
        .mail p{
            font-size: 24px;
        }
        }
    @media (max-width:736px) {
  body{
    width:100%;
  } 
        .header{
    height: 29px;
    }
    .logo{
        font-size: 27px;
        margin-top: -6px;
    }
    .logo_job{
        font-size: 13px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:15px;
        padding:4px 7px 0px 0px;
    }
        .mail h1,.shop h1,.insta h1{
            font-size: 24px
        }
        .mail p{
            font-size: 24px;
        }
        }
        
    @media (max-width:667px) {
  body{
    width:100%;
  } 
        .header{
    height: 29px;
    }
    .logo{
        font-size: 22px;
        margin-top: 1px;
    }
    .logo_job{
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:14px;
        padding:6px 7px 0px 0px;
    }
        .mail h1,.shop h1,.insta h1{
            font-size: 23px
        }
        .mail p{
            font-size: 23px;
        }
.lang li{
    font-size: 16px;
}
        }
        
    @media (max-width:568px) {
  body{
    width:100%;
  } 
        .header{
    height: 20px;
    }
    .logo{
        font-size: 19px;
        margin-top: -4px;
    }
    .logo_job{
        font-size: 11px;
        margin-top: 5px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size:12px;
        padding:2px 7px 0px 0px;
        }
        .mail h1,.shop h1,.insta h1{
            font-size: 20px
        }
        .mail p{
            font-size: 20px;
        }
.lang li{
    font-size: 15px;
}
    }
    
    @media (max-width:480px) {
  body{
    width:100%;
  }
    .header{
    height: 17px;
    }
     .logo{
        font-size: 13px;
        padding: 0;
        margin: 2px 0 0 0;
    }
    .logo_job{
        font-size: 5px;
        margin-top: 10px;
        margin-right: 0px;
    }
    .header ul{
        padding: 0;
    }
    .header li{
        font-size: 13px;
        padding:0px 5px 0px 0px;
    }
        .mail h1,.shop h1,.insta h1{
            font-size: 20px
        }
        .mail p{
            font-size: 20px;
        }
      .lang{
		margin-bottom:30px;
	}
.lang li{
    font-size: 13px;
}
    .lang span{
        font-size: 10px;
    }
}
